*{
  

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(48,36,48,1) 100%); 
    height: 200vh;   
    width: 100%;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    color: white;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}
.book-library{
    font-size: 50px;
    padding-bottom: 20px;
}
.parag{
    font-size: 30px;
    padding-bottom: 20px;
    
}
.new-book-button{
    position: relative;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 20px;
    border: 3px solid lightblue;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.new-book-button:hover{
    border-style: solid;
    border-color: lightgreen;
    border-width: 3px;
}
/* .footer{
    color: white;
    font-size: 16px;
} */

.overlay{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: cursive;
    
    
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    text-align: left;
    font-size: 20px;
    color: black;
    background-color: #dee2e6;
    font-family: 'Literata', 'Gentium Book Basic', serif;
    
}

.close-button {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color:white;
    font-size: 50px;
}

.form-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#bookForm{
    display: flex;
    flex-direction: column;
    /* justify-content: center; 
    align-items: center; */
    gap:30px;
}
.inputall{
    border-radius: 15px;
    padding: 7px;
    width: 350px;
    border: none;
}
.submit-button{
    position: relative;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 20px;
    border: 3px solid lightblue;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
    
}
.submit-button:hover{
    border-style: solid;
    border-color: lightgreen;
    border-width: 3px;
}
.read-or-not{
    display: flex;
    justify-content: center;
    align-items: center;
}
.books{
    padding-top: 50px;
}
.book-list{
  display: flex;
  gap:20px;

}
li{
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    height: 300px;
    gap:20px;
}
.btn{
    display: flex;
    gap: 15px;
}
.buttonDelete{
    position: relative;
    font-size: 15px;
    color: white;
    background-color: black;
    padding: 20px;
    border: 3px solid lightblue;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.button-checkRead{
    position: relative;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 20px;
    border: 3px solid lightblue;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}
.editBook{
    color:black;
    /* display: flex;
    justify-content: end;
    align-items: end; */
    padding-right: 20px;
    cursor: pointer;
}
.edit{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.editBook:hover{
    color:teal;
}
.form {
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    gap:20px;
    max-width: 400px;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    height: 300px;
    gap: 15px;

}
.inpt{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

}
.button-ok{
    position: relative;
    font-size: 15px;
    color: white;
    background-color: black;
    padding: 10px;
    border: 3px solid lightblue;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
    width: 50%;
}

.display{
    display: none;
}